<form method="post">
  <label for="podcast_title" >Podcast Title</label>
  <input type="text" name="podcast_title" /> <br/>

  <label for="podcast_description">Podcast Description</label>
  <input type="textarea" name="podcast_description" /> <br/>

  <label for="published_at">Published at</label>
  <input type="date" name="published_at" /> <br/>

  <input type="submit" />
</form>
