<!DOCTYPE HTML5>
<html lang="en">
<head>
    <meta charset="utf8">
    <title>Willingdon Generate RSS Feed</title>
    <!-- css files here -->
</head>
<body>
    <header>
        <hgroup>
            <h1>Willingdon Generate Sermon Uploader App</h1>
            <h2>To make Pastor Dan's life easier</h2>
        </hgroup>
    </header>

    <div id="content">
        <%= yield %>
    </div>

    <footer>
        <p><small><a href="http://generatewillingdon.wix.com/generatesite">Willingdon Generate</a>'s Sermon Uploader App 2015&copy;</small></p>
    </footer>
</body>
</html>
