<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf8">
    <title>Willingdon Generate RSS Feed</title>
    <!-- css files here -->
</head>
<body>
    <header>
    </header>

    <div id="main">
        <%= yield %>
    </div>

    <footer>
        <p><small><a href="http://generatewillingdon.wix.com/generatesite">Willingdon Generate</a>'s Sermon uploader app</small></p>
    </footer>
</body>
</html>
